<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Rob Wilkerson</string>
	<key>CFBundleDisplayName</key>
	<string>Add to Google Reader</string>
	<key>CFBundleIdentifier</key>
	<string>org.robwilkerson.safari.reader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*/*</string>
			<string>https://*/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>content.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>feed://*/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Subscribe to feeds in Google Reader using Safari's RSS button. Forked from Alexander Chuprin's extension.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://robwilkerson.org/_resources/projects/safari/extensions/AddToGoogle.plist</string>
	<key>Website</key>
	<string>http://robwilkerson.org/2010/06/16/add-to-google-reader-extension-for-safari-5/</string>
</dict>
</plist>
